
.md-content{
	background-color: white;
}

h2{
    font-weight: bold !important;
}

h1{
    font-weight: bold !important;
}

.md-main{
    background-color: #eeeeee;
}

.md-footer{
    background-color: #03a9f4 !important;
}

.md-footer-nav{
    background-color: #03a9f4 !important;
}

.md-footer-meta{
    background-color: #03a9f4 !important;
}

.md-footer-meta__inner{
    background-color: #03a9f4 !important;
}